.button {
  cursor: pointer;
  width: 300px;
  height: 50px;
  padding: 10px 10px 10px 40px;
  border: 1px solid #c4c4c4;
  background-color: #f8f8f8;
  color: #989898;
  text-overflow: ellipsis;
  overflow: hidden;
}

.button:hover {
  background-color: #ebebeb;
}

.chat-name {
  color: #000000;
  display: block;
  font-size: 20px;
}

.message {
  color: #989898;
}
