<div class="header">
  <p *ngIf="memberships.length > 0" class="header-chat-name">{{memberships[0].chat.name}}</p>
  <p>{{memberships.length}} members</p>
  <div *ngIf="isCurrentUserAbleToEditChat">
    <button  mat-button (click)="openDialog()">Add chat member</button>
  </div>
</div>
