.header {
  width: 100%;
  padding: 10px 0 10px 0;
  border: 1px solid #c4c4c4;
  background-color: #f8f8f8;
  color: #989898;
  display: table;
}

p {
  text-align: center;
  vertical-align: middle;
  display: grid;
  padding: 3px;
  margin: 3px;
}

.header-chat-name {
  color: #000000;
  display: block;
  font-size: 20px;
  font-weight: bold;
}
