<div class="app">
  <div class="chat-panel">
    <app-button-wrapper>
      <app-button #buttonComponent *ngFor="let chat of chats" [chatName]="chat.name" [chatId]="chat.id"></app-button>
    </app-button-wrapper>
  </div>
  <div class="notify-panel" *ngIf="!isRenderChatMessages">
    <p class="notify">Please select chat to start messaging</p>
  </div>
  <div *ngIf="isRenderChatMessages" class="messages-panel">
    <div class="header">
      <app-header></app-header>
    </div>
    <app-message-wrapper>
      <app-message [currentUser]="currentUser"></app-message>
    </app-message-wrapper>
    <div class="message-panel">
      <app-message-form></app-message-form>
    </div>
  </div>
</div>
<app-loader></app-loader>
