.app {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.chat-panel {
  align-self: flex-start;
}

.header {
  height: 20%;
}

.messages-panel {
  height: 100vh;
  width: 80vh;
  display: flex;
  flex-direction: column;
}

.message-panel {
  height: 15%;
}

.notify-panel {
  height: 100vh;
  width: 80vh;
  background-color: #e7e5e4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notify {
  border-radius: 10px;
  padding: 5px 5px;
  background-color: rgba(139, 135, 255, 0.67);
}
