<div mat-dialog-content class="mat-typography" >
  <form class="example-form" [formGroup]='usersForm'>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Choose a user" [matAutocomplete]="auto" formControlName="userInput">
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let user of (users | async)" [value]="user">
        <span>{{user.login}}</span>
      </mat-option>
    </mat-autocomplete>

    <div *ngIf="data.isUserChatAdmin">
      <label id="example-radio-group-label">Choose user role</label>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        formControlName="userRole"
        >
        <mat-radio-button class="example-radio-button" *ngFor="let role of userRoles" [value]="role">
          {{role}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </form>
</div>
<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button" (click)="addMembership()" >Add</button>
</mat-dialog-actions>


