.message {
  padding: 5px 5px;
  margin: 5px 5px;
  display: block;
  box-shadow: 1px 1px 0 0 grey;
}

.message-container {
  display: flex;
  flex-direction: column;
}

.container {
  display: table;
  table-layout: fixed;
  word-break: break-all;
}

.chat-message {
  border-radius: 0 15px 15px 15px;
  align-self: flex-start;
  background-color: #ffffff;
}

.user-message {
  border-radius: 15px 15px 0 15px;
  align-self: flex-end;
  background-color: #ffffff;
}

.system-message {
  align-self: center;
  border-radius: 10px;
  padding: 5px 5px;
  background-color: rgba(152, 152, 152, 0.21);
}

.message-text {
  font-size: 17px;
  font-weight: bold;
}

.message-author {
  font-size: 19px;
  font-weight: bold;
}

p {
  margin: 0;
  padding: 5px;
}
