<div class="message-container">
  <div class="message"
       [ngClass]="message.user.login === currentUser.login ? 'user-message' : message.user.login === 'SYSTEM' ? 'system-message' : 'chat-message'"
       *ngFor="let message of messages">
    <div class="container">
      <p class="message-author"
         *ngIf="message.user.login !== currentUser.login && message.user.login !== 'SYSTEM'">{{message.user.login}}</p>
      <p class="message-text">{{message.text}}</p>
      <p *ngIf="message.user.login !== 'SYSTEM'">{{message.creation | date:'short'}}</p>
    </div>
  </div>
</div>
