<div class="container">
  <textarea type="text" class="form-control" id="text" placeholder="Write a message..."
         required
         [(ngModel)]="text" name="text"
         (keyup.enter)="onSubmit()"
  ></textarea>
</div>
